{% extends 'base.html' %}

{% load static %}


{% block titlle %}home{% endblock %}


{% block content %}
<div style="display: flex; justify-content: center; margin-top: 20px;" ><a href="{% url 'addcar' %}">ADDCAR</a></div>

{% for i in dict %}


<div class="card" style="width: 18rem;">
    <img src="{{i.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{i.carname}}</h3>
      <h5 class="card-text">{{i.catagory}}</h5>
      <p class="card-text">{{i.discription}}</p>

      <a href="update/{{i.id}}">update</a>
      <a href="delete/{{i.id}}">delete</a>
    </div>
  </div>



{% endfor %}

{% endblock %}